<!-- Content -->
<div class="jumbotron main-content">
    <h1 class="display-4"><b>Welcome to Pham's Demo App!</b></h1>
    <p class="lead">This is a simple demo app in Angular 6 and Bootstrap.</p>
    <hr class="my-4">
    <p>
        In this app, I try to make use of all advantages of Angular, 
        ranging from routing component without reloading page, using observable in http request, to utilizing 2-way binding and angular material efficiently.
    </p>
    <p>
        Source code, which is given in a structure way, is also freely provided to everyone. 
    </p>
    <a class="btn btn-primary btn-lg" routerLink="/dashboard" role="button">Go to dashboard</a>
</div>

<!-- Footer -->
<footer class="footer">
    © 2019 Copyright:
    <a href="#"> Angular by HAI PHAM</a>
</footer>