mat-drawer {
    /* background-color: bisque; */
    background-image: linear-gradient(to bottom right, rgb(255, 94, 0), bisque);
    border-color: bisque;
    padding-top: 15px;
}

.example-container {
    background-color: white !important;
    height: 100%;
}

button {
    width: 100%;
    margin-top: 15px;
}
  
h2 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 15px 10px 10px 10px;
    color: rgb(252, 252, 252);
    text-align: center;
    font-weight: bold;
}