/* :host {
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    top: 0 !important;
  } */

mat-drawer {
    background-color: bisque;
    /* overflow: hidden !important; */
    padding-top: 15px;
    /* margin-right: -10px; */
}

.example-container {
    background-color: white !important;
    height: 100%;
}

button {
    width: 100%;
    margin-top: 15px;
}
  
h2 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 15px 10px 10px 10px;
    color: rgb(240, 38, 11);
    text-align: center;
}