<div class="main-container" [ngClass]="selectedBackground">
  <h1 id="top-name">CODE CHALLENGE</h1>

  <mat-tab-group [backgroundColor]="'primary'">
    <!-- table tab-->
    <mat-tab label="Table">
      <div>
        <h2>Sortable table of your data</h2>

        <p><i><strong> Instruction: </strong></i></p>
        <p> Please click the title of any column to sort the table, according to that column.</p>
        <p> In addition, use paginator to select number of objects to be displayed</p>

        <app-table></app-table>
      </div>
    </mat-tab>

    <!-- form submit component-->
    <mat-tab label="Form">
      <div>
        <h2>Required information</h2>

        <p><i><strong> Instruction: </strong></i></p>
        <p> Please enter your data, according to the description in each textbox.</p>
        <p> In case of incorrect input, there would be an instruction to correct.</p>

        <app-form (emailChange)='setUserEmail($event)'></app-form>
      </div>

      <br>

      <div>
        <app-submit [userEmail]="userEmail"></app-submit>
      </div>
    </mat-tab>

    <!-- setting tab. No component. -->
    <mat-tab label="Setting">
        <div>  
          <mat-form-field>
            <h2>Your favorite appearance</h2>
            <p><i><strong> Background: </strong></i></p>
            
            <mat-select [(value)]="selectedBackground">
                <mat-option value="option1-background">Dark gold</mat-option>
                <mat-option value="option2-background">Azure</mat-option>
                <mat-option value="none-background">White</mat-option>
              </mat-select>
            </mat-form-field>
        </div>
      </mat-tab>
  </mat-tab-group>
</div>