.main-container {
  padding: 1% 5% 1% 5%;
}

option1-background {
  background-color: rgb(253, 246, 227);;
}

option2-background {
  background-color: rgb(116, 253, 253);;
}

none-background {
  background-color: rgb(255, 255, 255);;
}

h1, h2, p {
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin: 25px 0 25px 0;
}

h1 {
  color: rgb(240, 148, 11);
  text-align: center;
}

header { 
  display: block;
}

mat-form-field {
  width: 80%;
}
