<!-- instruction-->
<div>
  <p><b>**This submit button below does nothing, but notify your email only.
      Specifically, no data will be sent to backend server or any database.</b></p>
  <p><b>**The submit button is disabled, until you check this.</b></p>
</div>

<!-- Checkbox-->
<div>
  <mat-checkbox color="warn" (click)="checkboxChecked()">Check me to ensure that you know the function of submit button!
  </mat-checkbox>
</div>

<!-- Button -->
<div class="alert alert-danger" role="alert" [ngClass]="hiddenClassWrongEmail">
  Your email is incorrect! Please type again!
</div>

<div class="alert alert-success" role="alert" [ngClass]="hiddenClassRightEmail">
  Your email has been successfully shown!
</div>

<button mat-raised-button color="accent" [disabled]="disableButton" (click)="buttonClick()">Click me!</button>