/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap/dist/css/bootstrap.css";

/* body {
    background-color: rgb(253, 246, 227);
} */

/* html {
    height: 100%;
}

app-root {
    height: 100%;
} */

/* html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
} */

/* body {
    height: 100vh;
} */